<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473007368284-7qvunejg1sjos04qfotdvlh4b490c5t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473007368284-7qvunejg1sjos04qfotdvlh4b490c5t5</string>
	<key>API_KEY</key>
	<string>AIzaSyD80cBPPAvUJOp-RSYdQVRCrvMT3s24STw</string>
	<key>GCM_SENDER_ID</key>
	<string>473007368284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.doan</string>
	<key>PROJECT_ID</key>
	<string>reminde-fb3ad</string>
	<key>STORAGE_BUCKET</key>
	<string>reminde-fb3ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473007368284:ios:451ac4820c7d62b84e1e99</string>
	<key>DATABASE_URL</key>
	<string>https://reminde-fb3ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>